/* this card should have a fixed size not relative to the content */

.card-container {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    

  }